<div class="modal-layout">
    <div class="text-layout">
      <h2 *ngIf="actionRequired === 'create'">Crea nuovo dipartimento</h2>
      <div *ngIf="actionRequired === 'edit'">
          <h2>Modifica dipartimento</h2>
          <p *ngIf="actionRequired === 'edit'">Id dipartimento {{department.idDepartment}}</p>
      </div>
      <div *ngIf="actionRequired === 'delete'">
          <h2>Cancellazione dipartimento</h2>
          <p>Sei sicuro di voler cancellare il dipartimento con ID: {{idDepartment}} ?</p>
          <button (click)="deleteDepartment()">Cancella</button>
          <button (click)="refuseDelete()">Annulla</button>  
      </div>
    </div>
    <form [formGroup]="formDepartment" *ngIf="actionRequired !== 'delete'">
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Nome dipartimento</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Codice dipartimento</mat-label>
                <input matInput type="text" formControlName="code">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Città dipartimento</mat-label>
                <input matInput type="text" formControlName="city">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Nazione di appartenenza</mat-label>
                <select formControlName="idCountry">
                    <option *ngFor="let country of countriesList" [value]="country.idCountry">
                        {{country.countryName}}
                    </option>
                </select>
            </mat-form-field>
        </p>
        <button [disabled]="!formDepartment.valid" (click)="sendingData(formDepartment)">Inserisci dipartimento</button>
    </form>
</div>
